
body {
    background-color: aquamarine;
}

header {    
    background-color: rgb(113, 174, 243);  
    display: inline-block;
    width: calc(33%);
    
}

aside {
background-color: rgb(185, 113, 243);
 }


.Artigoum {
    background-color: rgb(136, 127, 255);
}
.Artigodois {
    background-color: rgb(250, 116, 228);
}
.Artigotres {
    background-color: rgb(255, 127, 148);
}
footer {
      background-color: rgb(252, 61, 61);
}
nav {
    font-size: medium;
}
nav ul :first-child{
    color: brown;
}

nav ul :last-child{
    color: chocolate;
}

 li.active{
    color: rgb(17, 141, 163);
}

div {
    display: inline-block;
    width: calc(33% - 16px);
    vertical-align: top;
    margin: 8px;
    border: 1px solid color #777;
    box-sizing:content-box;
}








