
body {
    background-color: aquamarine;
}

header {
    background-color: rgb(113, 174, 243);
}
aside {
background-color: rgb(185, 113, 243);
 }

 * {
    margin: 0;
 }

.Artigoum {
    background-color: rgb(136, 127, 255);
}
.Artigodois {
    background-color: rgb(250, 116, 228);
}
.Artigotres {
    background-color: rgb(255, 127, 148);
}
footer {
      background-color: rgb(252, 61, 61);
}
nav {
    font-size: medium;
}
nav ul :first-child{
    color: brown;

nav ul :last-child{
    color: chocolate;
}

li.active{
    color: green;
}






